<div class="avatar basic">
  <nz-avatar nzSize="large" nzIcon="anticon anticon-user"></nz-avatar>
  <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
  <nz-avatar nzSize="small" nzIcon="anticon anticon-user"></nz-avatar>

  <nz-avatar nzShape="square" nzSize="large" nzIcon="anticon anticon-user"></nz-avatar>
  <nz-avatar nzShape="square" nzIcon="anticon anticon-user"></nz-avatar>
  <nz-avatar nzShape="square" nzSize="small" nzIcon="anticon anticon-user"></nz-avatar>
</div>

<div class="avatar badge">
  <nz-badge [nzCount]="5">
    <nz-avatar nzIcon="anticon anticon-user" nzShape="square"></nz-avatar>
  </nz-badge>

  <nz-badge nzDot>
    <nz-avatar nzIcon="anticon anticon-user" nzShape="square"></nz-avatar>
  </nz-badge>
</div>